html,
body {
    margin: 0;
    height: 100%;
}
.center-content {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.vertical-content {
    vertical-align: middle;
}
.ask-line {
    display: flex;
    vertical-align: baseline;
    justify-content: space-between;
}
.box {
    border: 2px solid grey;
    margin: 10px;
    padding: 5px;
    border-radius: 10px;
}
label {
    display: flex;
    align-items: center;
    justify-content: center;
}
